**/.vs
**/bin
**/obj
**/.suo
/.vs
/.suo
/.vs/PrinterQueue/FileContentIndex/62f60428-cd62-4a2f-bc05-0f0305be4b17.vsidx
/PrinterQueue/obj/Debug/net8.0-windows/PrinterQueue.AssemblyInfo.cs
/PrinterQueue/obj/Debug/net8.0-windows/PrinterQueue.assets.cache
/PrinterQueue/obj/Debug/net8.0-windows/PrinterQueue.AssemblyInfoInputs.cache
/PrinterQueue/obj/Debug/net8.0-windows/PrinterQueue.GeneratedMSBuildEditorConfig.editorconfig
/PrinterQueue/obj/PrinterQueue.csproj.nuget.dgspec.json
/PrinterQueue/obj/project.assets.json
/PrinterQueue/PrinterInfo.cs
/.vs/PrinterQueue/FileContentIndex/62f60428-cd62-4a2f-bc05-0f0305be4b17.vsidx
/PrinterQueue/obj/Debug/net8.0-windows/PrinterQueue.AssemblyInfo.cs
/PrinterQueue/obj/Debug/net8.0-windows/PrinterQueue.AssemblyInfoInputs.cache
